@include keyframes(pulse) {
  0% { @include transform(scale(1)); opacity: 1; }
  50% { @include transform(scale(1.4)); opacity: .7; }
  100% { @include transform(scale(1)); opacity: 1; }
}

@include keyframes(scrollDown) {
  0% { @include transform(translateY(.35em)); }
  50% { @include transform(translateY(-.35em)); }
  100% { @include transform(translateY(.35em)); }
}

@include keyframes(slideRight) {
  0% { @include transform(translateX(0%)); }
  100% {
    @include transform(translateX(100%));
    display: none;
  }
}

@include keyframes(slideLeft) {
  0% { @include transform(translateX(0%)); }
  100% {
    @include transform(translateX(-100%));
    display: none;
  }
}

@include keyframes(slideDown) {
  0% {
    @include transform(translateY(-40px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

@include keyframes (fadeOutUp) {
  0% {
    opacity: 1;
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
}


@include keyframes (fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translateY(-20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(shake) {
  10%, 90% {
    @include transform(translate3d(-1px, 0, 0));
  }

  20%, 80% {
    @include transform(translate3d(2px, 0, 0));
  }

  30%, 50%, 70% {
    @include transform(translate3d(-4px, 0, 0));
  }

  40%, 60% {
    @include transform(translate3d(4px, 0, 0));
  }
}
