//-------------------------------------
// Normalize overrides
//-------------------------------------

button, input, optgroup, select, textarea {
  font-family: museoRounded;
  font-weight: $font-weight-regular;
}

//-------------------------------------
// Loading correct font files
//-------------------------------------

// Browsers will only load the font-face which is actually used in the CSS
// So here, we'll define for body, headlines and buttons which font-files to use.
body:not([data-locale="pl-PL"]) {
  font-family: $font-family;
}

body[data-locale="pl-PL"] {
  font-family: $font-family-pl;
}

//-------------------------------------
// Box-sizing reset
//-------------------------------------

// Best practice from http://callmenick.com/post/the-new-box-sizing-reset
// TLDR: It’s easier to override and a slight performance boost.
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

body {
  @include type-m;
  font-weight: $font-weight-regular;
  color: $color-dark;
  background-color: $color-off;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
}

//-------------------------------------
// Headlines
//-------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-m;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-highlight;
    }
  }

  &--inline {
    display: inline-block;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: $color-dark;
}

h1, .h1 {
  @include type-xxxxl;
}

h2, .h2 {
  @include type-xxxl;
}

h3, .h3 {
  @include type-xxl;
}

h4, .h4 {
  @include type-xl;
}

h5, .h5 {
  @include type-l;
}

h6, .h6 {
  @include type-s;
  color: $color-brand;
}

//-------------------------------------
// Emphasis
//-------------------------------------

strong,
em {
  font-style: normal;
  font-weight: $font-weight-medium;
  // font-family: (font family set in body definitions);
}

//-------------------------------------
// Hyperlinks
//-------------------------------------

a {
  transition: all .2s;
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-brand-darker;
  }
}

//-------------------------------------
// Lists
//-------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }
}

//-------------------------------------
// Images
//-------------------------------------

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-weight: $font-weight-regular;

  color: $color-dark;
  padding-left: 2em;
  position: relative;
  @include type-s;

  strong { color: $color-brand; }

  &::before {
    content: '';
    display: block;
    width: 1.5em;
    height: 1px;
    background-color: $color-brand;
    position: absolute;
    top: calc(0.8em - 1px);
    left: 0;
  }
}
