//-------------------------------------
// Normalize overrides
//-------------------------------------

button,
input,
optgroup,
select,
textarea {
  font-family: museo;
  font-weight: $font-weight-regular;
}

//-------------------------------------
// Loading correct font files
//-------------------------------------

// Browsers will only load the font-face which is actually used in the CSS.
// So here we'll define for body, headlines and buttons which font-files to use.
body:not([data-locale='pl-PL']):not([data-locale='bg-BG']) {
  font-family: $font-family;
}

body[data-locale='pl-PL'] {
  font-family: $font-family-pl;
}

body[data-locale='bg-BG'] {
  font-family: $font-family-cy;
}

//-------------------------------------
// Box-sizing reset
//-------------------------------------

// Best practice from http://callmenick.com/post/the-new-box-sizing-reset
// TLDR: It’s easier to override and a slight performance boost.
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

body {
  @include type-m;

  background-color: $color-off;
  color: $color-darker;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-regular;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

//-------------------------------------
// Headlines
//-------------------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-m;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-highlight;
    }
  }

  &--inline {
    display: inline-block;
  }

  @include media(max-width, small) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    [data-locale='pt-BR'] & {
      hyphens: none;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: $color-darker;
}

h1,
.h1 {
  @include type-xxxxl;
}

h2,
.h2 {
  @include type-xxxl;
}

h3,
.h3 {
  @include type-xxl;
}

h4,
.h4 {
  @include type-xl;
}

h5,
.h5 {
  @include type-l;
}

h6,
.h6 {
  @include type-s;

  color: $color-brand;
}

//-------------------------------------
// Emphasis
//-------------------------------------

strong,
em {
  font-style: normal;
  font-weight: $font-weight-bold;
  // font-family: (font family set in body definitions);
}

//-------------------------------------
// Hyperlinks
//-------------------------------------

a {
  color: $color-brand;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $color-brand-darker;
  }
}

//-------------------------------------
// Lists
//-------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }
}

//-------------------------------------
// Images
//-------------------------------------

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  @include type-s;

  color: $color-dark;
  font-weight: $font-weight-regular;
  padding-left: 2em;
  position: relative;

  strong {
    color: $color-brand;
  }

  &::before {
    background-color: $color-brand;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(0.8em - 1px);
    width: 1.5em;
  }
}
