@mixin card-l {
  @include card($spacing-m, $spacing-l, $spacing-s, $spacing-m);
}

@mixin card($desktop-top, $desktop-sides, $mobile-top, $mobile-sides) {
  $box-shadow: #DCEAFA;
  display: block;
  position: relative;
  background: white;
  border: 1px solid $color-light;
  padding: $mobile-top $mobile-sides;
  margin-bottom: $spacing-s;
  border-radius: $border-radius;
  box-shadow: 0px 1px 0px 0px opacify($color-light, .2);

  &:before {
    content: "";
    position: absolute; 
    z-index: -1;
    box-shadow: 0 0 12px $box-shadow;
    bottom: 0;
    height: 20px;
    width: 86%;
    left: 7%;
    border-radius: 86% / 20px;
  }

  @include media($breakDesktop) {
    padding: $desktop-top $desktop-sides;
    box-shadow: none;
  }
}

@mixin card-inlay {
  background-color: $color-off;
  border-radius: $border-radius;
  padding: $spacing-s;
}

@mixin card-overlay {
  @include drop-shadow;
  background: rgba(255,255,255,0.80);
  border-radius: $border-radius;
}

@mixin drop-shadow() {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12), 0px 2px 10px 0px rgba(0,0,0,0.03);
}
