@mixin card-l {
  @include card($spacing-m, $spacing-l, $spacing-s, $spacing-m);
}

@mixin rounded-left-border($position-left, $color) {
  &:before {
    display: inline-block;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    content: '';
    position: absolute;
    left: -$position-left;
    top:0;
    height: 100%;
    background-color: $color;
    width: 3px;
  }
}

@mixin validation-list($color) {
  position: relative;
  @include rounded-left-border($spacing-m, $color);

  @include media($breakTabletLandscape) {
    @include rounded-left-border($spacing-l, $color);
  }
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }

  &.checkmark li {
    padding-left: 1.5em;

    &:before {
      position: absolute;
      content: '\2714';
      top: .65em;
      left: 0;
      margin-top: -0.7em;
      color: $color-brand;
      text-shadow: 0 1px 0 rgba(black, .3);
    }
  }

  &.dash li {
    padding-left: 1.2em;

    &:before {
      position: absolute;
      left: 0;
      content: "–";
      color: $color-brand;
    }
  }
}

@mixin card($tablet-top, $tablet-sides, $mobile-top, $mobile-sides) {
  background-color: #FFF;
  border-radius: $border-radius-m;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $mobile-top $mobile-sides;
  box-shadow: 0 0 0 1px transparentize($color-shadow, 0.94),
    0 0 1px 0 transparentize($color-shadow, 0.94),
    0 2px 2px 0 transparentize($color-shadow, 0.94);
  width: 100%;


  @include media($big-screens) {
    min-width: 400px;
    padding: $tablet-top $tablet-sides;
  }
}

@mixin card-inlay {
  background-color: $color-off;
  border-radius: $border-radius;
  padding: $spacing-s;
}

@mixin card-overlay {
  @include drop-shadow;
  background: rgba(255,255,255,0.80);
  border-radius: $border-radius;
}

@mixin drop-shadow() {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 2px 12px 0px rgba(0,0,0,0.10);
}

@mixin fancy-shadow($shadow-color: rgba($color-dark, .15), $size: 12px, $spread: 0px, $position: bottom) {
  position: relative;
  // z-index: 1;

  @if $position == top {
    overflow: hidden
  }

  &:before {
    @if $position == bottom {
      bottom: 0;
      z-index: -1;
    } @else {
      top: -20px;
      z-index: 1;
    }
    content: "";
    position: absolute;
    box-shadow: 0 0 $size $spread $shadow-color;
    height: 20px;
    width: 86%;
    left: 7%;
    border-radius: 86% / 20px;
  }
}

@mixin button-shadow() {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12), 0px 2px 10px 0px rgba(0,0,0,0.3);
}

@mixin button-shadow-raised() {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12), 0px 7px 10px 0px rgba(0,0,0,0.20);
}

@mixin close-button() {
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin sidebar-label {
  color: $color-dark;
  font-size: $font-size-m;
  font-weight: 500;
  line-height: $line-height-s;
  margin-bottom: $spacing-xxs;
  margin-top: $spacing-xs;

  /* TODO: remove when globals are dead. */
  text-transform: none;
}
