@mixin card-l {
  @include card($spacing-m, $spacing-l, $spacing-s, $spacing-m);
}

@mixin card($tablet-top, $tablet-sides, $mobile-top, $mobile-sides) {
  $box-shadow: #DCEAFA;
  background: #FFFFFF;
  border: 1px solid $color-light;
  border-radius: $border-radius;
  box-shadow: 0 1px 0 0 opacify($color-light, .2);
  display: block;
  padding: $mobile-top $mobile-sides;
  position: relative;
  margin-bottom: $spacing-s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 12px $box-shadow;
    bottom: 0;
    height: 20px;
    width: 86%;
    left: 7%;
    border-radius: 86% / 20px;
  }

  @include media($breakTabletLandscape) {
    padding: $tablet-top $tablet-sides;
    box-shadow: none;
  }
}

@mixin card-inlay {
  background-color: $color-off;
  border-radius: $border-radius;
  padding: $spacing-s;
}

@mixin card-overlay {
  @include drop-shadow;
  background: rgba(255,255,255,0.80);
  border-radius: $border-radius;
}

@mixin drop-shadow() {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 2px 12px 0px rgba(0,0,0,0.10);
}

@mixin button-shadow() {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
}

@mixin button-shadow-raised() {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.30);
}

@mixin close-button() {
}

@mixin flex-center() {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
}

@mixin sidebar-label {
  color: $color-dark;
  font-size: $font-size-m;
  font-weight: 500;
  line-height: $line-height-s;
  margin-bottom: $spacing-xxs;
  margin-top: $spacing-xs;

  /* TODO: remove when globals are dead. */
  text-transform: none;
}
