// Convenience typography classes
.type-xxxxl {
  @include type-xxxxl;
}
.type-xxxl {
  @include type-xxxl;
}
.type-xxl {
  @include type-xxl;
}
.type-xml {
  @include type-xml;
}
.type-xl {
  @include type-xl;
}
.type-l {
  @include type-l;
}
.type-m {
  @include type-m;
}
.type-s {
  @include type-s;
}
.type-xs {
  @include type-xs;
}

// Convenience font-wheigt classes
.type-light{
  font-weight: $font-weight-light;
}
.type-regular {
  font-weight: $font-weight-regular;
}
.type-medium {
  font-weight: $font-weight-medium;
}

// Convenience components
.card-l {
  @include card-l;
}

.sidebar-label {
  @include sidebar-label;

  &#{&}--first { margin-top: 0 }
}

// layout helpers
@include media($until-medium-screens) {
  .hide--on-small { display: none }
}

@include media($until-big-screens) {
  .hide--on-small-and-medium { display: none }
}

@include media($medium-to-big-screens) {
  .hide--on-medium { display: none }
}

@include media($big-screens) {
  .hide--on-big { display: none }
}

.hidden { display: none }

%readonly {
  cursor: no-drop;
  border: 0 !important;
  padding-left: 0 !important;
  // Temp. custom monospace font stack
  font-family: "Menlo", "Lucida Console", Monaco, monospace;
  padding-top: 0;
  border-bottom: 1px dashed #eee !important;
  color: $color-medium;
  -webkit-text-fill-color: $color-medium;
  -webkit-opacity: 1;
  background: white;

  &:hover,
  &:focus,
  &:active {
    cursor: default;
    border-color: $color-light;
  }
}
