//-------------------------------------
// Normlize overrides
//-------------------------------------
button, input, optgroup, select, textarea {
  font-family: museoRounded;
  font-weight: $font-weight-regular;
}

//-------------------------------------
// Hyperlinks
//-------------------------------------

a {
  transition: color .2s;
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-brand-darker;
  }
}

//-------------------------------------
// Lists
//-------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }
}

.inline-list {
  @include type-l;
  text-transform: uppercase;
}

.inline-list__item {
  margin-right: $spacing-m;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }

  a { color: $color-dark; }

  &.inline-list__item--bold {
    font-weight: $font-weight-medium;
  }
}

.submenu {
  @include card-overlay;
  width: 200px;
  border-radius: $border-radius-l;
  border: 1px solid $color-light;
}
.submenu__item {
  margin: 6px 0;
}
.submenu__link {
  font-size: $font-size-m;
  line-height: $line-height-s;
  padding: $spacing-s $spacing-m;
  display: inline-block;
  width: 100%;
  color: $color-dark;
  text-transform: uppercase;

  &.submenu__link--active {
    font-weight: $font-weight-regular;
  }

  &:hover {
    background-color: $color-off;
    color: $color-dark;
  }
}

//-------------------------------------
// Images
//-------------------------------------

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-weight: $font-weight-light;

  color: $color-dark;
  padding-left: 2em;
  position: relative;
  @include type-s;

  strong { color: $color-brand; }

  &:before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1px;
    background-color: $color-brand;
    position: absolute;
    top: calc(0.8em - 1px);
    left: 0;
  }
}
//-------------------------------------
// Hero
//-------------------------------------
.hero {
  background-color: $color-medium;
  padding: 200px 0 0 300px !important;
  height: 600px;

  h1 {
    width: auto;
    max-width: none !important;
  } // TODO: Find out where this stupid width is being set

  &.hero--centered {
    padding: 200px !important;
    text-align: center;
  }
}
.hero__content {
  max-width: 485px;

  &.hero__content--centered {
    margin: 0 auto;
  }
}
.hero__headline {
  font-size: $font-size-xxxxxl;
  line-height: $line-height-xxl;
  margin: 0;

  & + .hero__paragraph {
    margin-bottom: $spacing-s;
  }
}


.hero__paragraph {
  font-size: $font-size-xxl;
  line-height: $line-height-l;
  font-weight: $font-weight-light;
  margin: 0;
}

.hero__btn {
  margin-top: $spacing-l;
}

//-------------------------------------
// Grid
//-------------------------------------

$pad: 14px;

.grid--colored {
	font-size: $font-size-xs;
  background-color: white;
  margin-bottom: 1px;

	[class*='col-'] {
		background-color: $color-medium;
		border: $pad solid $color-light;
		text-align: center;
	}
}

.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  float: left;
  padding: $pad;
}
.col-1 {
  @extend .col;
	width: 100%;
}
.col-2-3 {
  @extend .col;
  width: 66.66%;
}
.col-1-3 {
  @extend .col;
  width: 33.33%;
}
.col-1-2 {
  @extend .col;
  width: 50%;
}
.col-1-4 {
  @extend .col;
  width: 25%;
}
.col-1-6 {
  @extend .col;
  width: 16.66%;
}
.col-1-12 {
  @extend .col;
  width: 8.33%;
}

//-------------------------------------
// Image caption set
//-------------------------------------

.image-caption-set {
  @extend .grid;
}

.image-caption-set__image-container, .image-caption-set__caption-container {
  @extend .col-1-2;
}

.image-caption-set__image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.image-caption-set__caption-headline {
  font-size: $font-size-xxl;
  line-height: $line-height-l;
  margin-top: 0;
  margin-bottom: $spacing-l;
}
.image-caption-set__caption-paragraph {
  margin: 0;
}

//-------------------------------------
// Text columns
//-------------------------------------

$column-gap: $spacing-l;

@mixin text-columns($gap) {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

.text-columns {
  @include text-columns($column-gap);
  p { margin-top: 0; }
}

.text-columns__headline {
  font-size: $font-size-xxl;
  line-height: $line-height-l;
}

.text-columns--headline-container {
  margin: 0 0 $spacing-xl;
  width: calc(50% - #{$column-gap});
}
