//-------------------------------------
// Hyperlinks
//-------------------------------------

a {
  transition: color .2s;
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-highlight;
  }
}

//-------------------------------------
// Lists
//-------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }
}

//-------------------------------------
// Images
//-------------------------------------

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-weight: $font-weight-light;

  color: $color-dark;
  padding-left: 2em;
  position: relative;
  @include type-s;

  strong { color: $color-brand; }

  &:before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1px;
    background-color: $color-brand;
    position: absolute;
    top: calc(0.8em - 1px);
    left: 0;
  }
}
