//-------------------------------------
// Western latin charset
//-------------------------------------

@font-face {
  font-family: 'museo';
  font-weight: 500;
  src:
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_500-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_500-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museo';
  font-weight: 700;
  src:
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_700-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_700-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museo';
  font-weight: 900;
  src:
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_900-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/western-latin/MuseoSans_900-webfont.ttf') format('truetype');
}

//-------------------------------------
// Cyrillic charset
//-------------------------------------

@font-face {
  font-family: 'roboto';
  font-weight: 500;
  // HACK: Roboto is heavier than Museo, that's why Roboto 400 is used for medium weights.
  src:
    url('https://static.sumup.com/fonts/cyrillic/Roboto_400-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_400-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 700;
  src:
    url('https://static.sumup.com/fonts/cyrillic/Roboto_700-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_700-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 900;
  src:
    url('https://static.sumup.com/fonts/cyrillic/Roboto_900-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_900-webfont.ttf') format('truetype');
}

//-------------------------------------
// Polish charset
//-------------------------------------

@font-face {
  font-family: 'museo_pl';
  font-weight: 500;
  src:
    url('https://static.sumup.com/fonts/polish/MuseoSans_500-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/polish/MuseoSans_500-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museo_pl';
  font-weight: 700;
  src:
    url('https://static.sumup.com/fonts/polish/MuseoSans_700-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/polish/MuseoSans_700-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museo_pl';
  font-weight: 900;
  src:
    url('https://static.sumup.com/fonts/polish/MuseoSans_900-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/polish/MuseoSans_900-webfont.ttf') format('truetype');
}
