@import "./_mixins";

// Overwrite browser vendor styles
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset {
  margin-top: $spacing-xl;
}

.label {
  @include text-kilo;

  margin-bottom: $spacing-xxs;
  display: inline-block;

  &#{&}--disabled {
    opacity: .4;
  }
}

.legend {
  @extend .label;

  &#{&}--regular {
    font-weight: $font-weight-regular;
  }

  &#{&}--disabled {
    @include disabled;
  }
}

.input,
.textarea {
  @include text-mega;

  background-color: $color-white;
  border-width: 1px;
  border-style: solid;
  border-color: $color-n300;
  border-radius: $border-radius-m;
  box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.12);
  color: $color-n900;
  padding: $spacing-xs $spacing-s;
  margin-bottom: $spacing-l;
  display: block;
  width: 100%;

  &:focus,
  &:active {
    border: 1px solid $color-p500;
    outline: none;
  }

  &::placeholder {
    color: $color-n500;
  }
}

.input.input--disabled,
.input[disabled],
.input[disabled="disabled"],
.input[readonly] {
  @include disabled;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input.input--no-margin,
.textarea.textarea--no-margin {
  margin-bottom: 0;
}

.input.input--optional,
.textarea.textarea--optional {
    background-color: $color-n100;
    border-style: dashed;
    box-shadow: none;
}

.textarea {
  min-height: 120px;
}

// Goes on the container (e.g. a <ul>)
.inputs-inline {
  @include row;

  & > li {
    width: calc(50% - #{$spacing-s});
    padding: 0;
    display: inline-block;
    float: left;

    &:nth-of-type(odd) {
      margin-right: $spacing-m;
    }

    &:nth-of-type(even) {
      float: right;
    }
  }

  &.inputs-inline--first-bigger {
    li:first-child { width: 70% }
    li:nth-child(2) { width: calc(30% - #{$spacing-m}) }

    .validation-list li { width: 100%; }
  }

  &.inputs-inline--second-bigger {
    li:first-child { width: 30% }
    li:nth-child(2) { width: calc(70% - #{$spacing-m}) }

    .validation-list li { width: 100%; }
  }

  .btn, .button { width: 100% }

  &.inputs-inline--block-mobile {
    & > li {
      width: 100%;

      &:nth-child(even) {
        margin-bottom: $spacing-m;

        @include media($medium-screens) {
          margin-top: 0 !important;
        }
      }

      @include media($medium-screens) {
        width: 46%;
      }
    }
  }
}

.checkboxes-custom, .radio-buttons-custom {
  label {
    @extend .label;
    font-size: $font-size-m;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    margin-right: 15px;
    font-weight: 300;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $color-medium;
      background-color: white;
    }
  }

  /**
   * Visually hiding default inputs,
   * but keeping them tabbable
   */

  input[type="radio"],
  input[type="checkbox"] {
    border: 0;
    padding: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: absolute;
    width: auto;
    visibility: hidden;
  }

  input[type="radio"] + label:before {
    border-radius: 9px;
  }

  input[type="checkbox"] + label:before {
    border-radius: $border-radius;
  }

  input:checked + label:after {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
  }

  input[type="radio"]:checked + label:after {
    content: '';
    border-radius: 4px;
    top: 5px;
    left: 5px;
    background: $color-brand;
  }

  input[type="checkbox"]:checked + label:after {
    content: '';
    background: url(data:image/svg+xml;encoding=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2211%22%20viewBox%3D%220%200%2013%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%233388FF%22%20d%3D%22M4.363%208.314l-2.63-2.82a.994.994%200%200%200-1.415-.051.999.999%200%200%200-.047%201.415l3.406%203.653a.994.994%200%200%200%201.201.205.996.996%200%200%200%20.426-.327l6.621-8.787A1%201%200%200%200%2010.328.398L4.363%208.314z%22%20%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
    top: 4px;
    left: 3px;
    color: $color-brand;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
  }

  &.checkboxes-custom--disabled, .radio-buttons-custom--disabled {
    opacity: 0.4;
    label {
      cursor: default;
    }
  }
}

.select-custom {
  position: relative;

  &::after {
    transform: rotate(-45deg);
    transition: all 0.15s ease-out 0s;
    content: "\221F";
    position: absolute;
    z-index: 31;
    font-size: $font-size-xs;
    color: $color-dark;
    right: $spacing-xxl;
    top: $spacing-s + 3px;
    width: 0;
    height: 0;
    display: inline-block;
    pointer-events: none;
  }

  &--disabled::after {
    content: "";
  }

  select {
    @include text-mega;

    appearance: none;
    background-color: $color-white;
    border-width: 1px;
    border-style: solid;
    border-color: $color-n300;
    border-radius: $border-radius-m;
    box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.12);
    color: $color-n900;
    padding: $spacing-xs $spacing-xl $spacing-xs
      $spacing-s;
    margin-bottom: $spacing-l;
    position: relative;
    width: 100%;
    z-index: 30;
    line-height: $line-height-l;

    &:focus,
    &:hover,
    &:active {
      outline: none;
    }

    &:focus {
      border: 1px solid $color-p500;
    }

    &::after {
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

.validation-list {
  @include type-s;
  position: relative;

  li {
    transition: all 0.15s ease-out 0s;
    margin-bottom: $spacing-s;
    position: relative;
    color: $color-error;
    font-weight: $font-weight-medium;

    a, a:hover, a:active, a:visited {
      color: $color-error;
      text-decoration: underline;
    }

    &.ng-hide-remove {
      animation: fadeInDown .2s ease-in;
    }

    &.ng-hide-add-active {
      position: absolute;
      width: 100%;
      animation: fadeOutUp .2s ease-in;
    }

    &.warning {
      color: $color-warning-darker;
    }

    p { margin: 0 }
  }
}
