.fieldset {
  margin-top: $spacing-xl;
}

.label {
  font-size: $font-size-m;
  line-height: $line-height-s;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-s;
  text-transform: none; // TEMPORARY
}

.legend {
  @extend .label;

  &.legend--regular {
    font-weight: $font-weight-regular;
  }
}

.input {
  @include appearance(none);
  @include placeholder { color: $color-medium; };
  background: transparent;
  border: 1px solid $color-medium;
  border-radius: $border-radius;
  border-color: $color-medium;
  font-size: $font-size-l;
  height: 42px;
  line-height: $line-height-s;
  margin-bottom: $spacing-l;
  padding: $spacing-s;
  width: 100%;

  @include media($breakDesktop) {
    font-size: $font-size-m !important; // TEMPORARY
  }

  &#{&}--no-margin { margin-bottom: 0 }

  &:focus, &:hover {
    border-color: $color-brand !important;
  }
}

// Goes on the container (e.g. a <ul>)
.inputs-inline {
  @include row;

  & > li {
    width: calc(50% - #{$spacing-s});
    padding: 0;
    display: inline-block;
    float: left;

    &:nth-of-type(odd) {
      margin-right: $spacing-m;
    }

    &:nth-of-type(even) {
      float: right;
    }
  }

  &.inputs-inline--first-bigger {
    li:first-child { width: 70% }
    li:nth-child(2) { width: calc(30% - #{$spacing-m}) }
  }

  .btn, .button { width: 100% }

  &.inputs-inline--block-mobile {
    & > li {
      width: 100%;

      &:nth-child(even) {
        margin-bottom: $spacing-m;

        @include media($breakTabletLandscape) {
          margin-top: 0 !important;
        }
      }

      @include media($breakTabletLandscape) {
        width: 46%;
      }
    }
  }
}

.checkboxes-custom, .radio-buttons-custom {
  label {
    @extend .label;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    margin-right: 15px;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $color-medium;
      background-color: white;
    }
  }

  /**
   * Visually hiding default inputs,
   * but keeping them tabbable
   */

  input[type="radio"],
  input[type="checkbox"] {
    border: 0;
    padding: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: absolute;
    width: auto;
    visibility: hidden;
  }

  input[type="radio"] + label:before {
    border-radius: 9px;
  }

  input[type="checkbox"] + label:before {
    border-radius: $border-radius;
  }

  input:checked + label:after {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
  }

  input[type="radio"]:checked + label:after {
    content: '';
    border-radius: 4px;
    top: 5px;
    left: 5px;
    background: $color-brand;
  }

  input[type="checkbox"]:checked + label:after {
    content: '✔';
    font-size: 11px;
    font-weight: normal;
    line-height: 0;
    border-radius: 2px;
    top: 11px;
    left: 4px;
    color: $color-brand;
  }

  &.checkboxes-custom--disabled, .radio-buttons-custom--disabled {
    label {
      color: $color-light;

      &:before { background: $color-light; }
    }
  }
}

.select-custom {
  position: relative;

  &:after {
    @include transform(rotate(-45deg));
    @include transition;
    content: "\221F";
    position: absolute;
    z-index: 40;
    font-size: $font-size-xs;
    color: $color-dark;
    right: $spacing-xxl;
    top: $spacing-s + 3px;
    width: 0;
    height: 0;
    display: inline-block !important;
  }

  select {
    @include appearance(none);
    padding: 1em;
    line-height: 1;
    width: 100%;
    background: none;
    border: 1px solid $color-medium;
    border-radius: $border-radius;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 30;
    margin-bottom: $spacing-l;
    outline: none;
    font-size: $font-size-m !important; // TEMPORARY

    &[disabled],
    &[disabled="disabled"],
    &[readonly] {
      @extend %readonly;
    }

    &:focus,
    &:hover,
    &:active { border-color: $color-brand; }
  }
}

.validation-list {
  @include type-s;
  position: relative;

  li {
    @include transition;
    margin-bottom: $spacing-s;
    position: relative;
    color: $color-error;

    &.ng-hide-remove {
      @include animation(fadeInDown .2s ease-in);
    }

    &.ng-hide-add-active {
      position: absolute;
      width: 100%;
      @include animation(fadeOutUp .2s ease-in);
    }

    &.warning {
      color: $color-warning-darker;
    }

    p { margin: 0 }
  }
}
