.fieldset {
  margin-top: $spacing-xl;
}

.label {
  font-size: $font-size-m;
  line-height: $line-height-s;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-xs !important;
  text-transform: none; // TEMPORARY
}

.legend {
  @extend .label;

  &.legend--regular {
    font-weight: $font-weight-regular;
  }
}

.input {
  @include appearance(none);
  @include placeholder { color: $color-medium; };
  background: transparent;
  border: 1px solid $color-medium;
  border-radius: $border-radius;
  font-size: $font-size-l;
  height: 42px;
  line-height: $line-height-s;
  margin-bottom: $spacing-l;
  padding: $spacing-s;
  width: 100%;

  @include media($breakDesktop) {
    font-size: $font-size-m !important; // TEMPORARY
  }

  &#{&}--no-margin { margin-bottom: 0 }

  &:focus, &:hover {
    border-color: $color-brand !important;
  }
}

// Goes on the container (e.g. a <ul>)
.inputs-inline {
  @include row;

  & > li {
    width: calc(50% - #{$spacing-s});
    padding: 0;
    display: inline-block;
    float: left;

    &:nth-of-type(odd) {
      margin-right: $spacing-m;
    }

    &:nth-of-type(even) {
      float: right;
    }
  }

  &.inputs-inline--first-bigger {
    li:first-child { width: 70% }
    li:nth-child(2) { width: calc(30% - #{$spacing-m}) }
  }

  .btn, .button { width: 100% }

  &.inputs-inline--block-mobile {
    & > li {
      width: 100%;

      &:nth-child(even) {
        margin-bottom: $spacing-m;

        @include media($breakTabletLandscape) {
          margin-top: 0 !important;
        }
      }

      @include media($breakTabletLandscape) {
        width: 46%;
      }
    }
  }
}

.checkboxes-custom, .radio-buttons-custom {
  label {
    @extend .label;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    margin-right: 15px;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $color-medium;
      background-color: white;
    }
  }

  /**
   * Visually hiding default inputs,
   * but keeping them tabbable
   */

  input[type="radio"],
  input[type="checkbox"] {
    border: 0;
    padding: 0;
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: absolute;
    width: auto;
    visibility: hidden;
  }

  input[type="radio"] + label:before {
    border-radius: 9px;
  }

  input[type="checkbox"] + label:before {
    border-radius: $border-radius;
  }

  input:checked + label:after {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
  }

  input[type="radio"]:checked + label:after {
    content: '';
    border-radius: 4px;
    top: 5px;
    left: 5px;
    background: $color-brand;
  }

  input[type="checkbox"]:checked + label:after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg width="13px" height="11px" viewBox="0 0 13 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Employees" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Account-Collapsed-iPhone-Portrait-Copy-8" transform="translate(-21.000000, -253.000000)" fill="#5C8BCC"> <g id="Group-4-Copy-2" transform="translate(6.000000, 126.000000)"> <g id="Group-3" transform="translate(12.000000, 72.000000)"> <path d="M7.36313698,63.3140265 L4.73372966,60.4943324 C4.34836786,60.0810825 3.72229529,60.0661774 3.3183798,60.4428347 C2.91164827,60.822118 2.8932616,61.4532304 3.27102225,61.8583291 L6.67701846,65.5108129 C6.99931844,65.8564373 7.48999388,65.9234223 7.87825523,65.715736 C8.04166544,65.6501336 8.18977335,65.5403233 8.30358319,65.3892925 L14.9253511,56.6019097 C15.2569589,56.1618513 15.1687035,55.5350286 14.7276293,55.2026553 C14.28348,54.8679648 13.6599555,54.9578661 13.3280801,55.3982797 L7.36313698,63.3140265 Z" id="Combined-Shape"></path> </g> </g> </g> </g> </svg>');
    top: 4px;
    left: 3px;
    color: $color-brand;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
  }

  &.checkboxes-custom--disabled, .radio-buttons-custom--disabled {
    label {
      color: $color-light;

      &:before { background: $color-light; }
    }
  }
}

.select-custom {
  position: relative;

  &:after {
    @include transform(rotate(-45deg));
    @include transition;
    content: "\221F";
    position: absolute;
    font-size: $font-size-xs;
    color: $color-dark;
    right: $spacing-xxl;
    top: $spacing-m;
    width: 0;
    height: 0;
    display: inline-block !important;
  }

  select {
    @include appearance(none);
    padding: 12px;
    line-height: 18px;
    width: 100%;
    background: none;
    border: 1px solid $color-medium !important;
    height: 42px;
    border-radius: $border-radius;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 30;
    margin-bottom: $spacing-l;
    font-size: $font-size-m !important; // TEMPORARY

    &[disabled],
    &[disabled="disabled"],
    &[readonly] {
      @extend %readonly;
    }

    &:focus,
    &:hover,
    &:active { border-color: $color-brand; }
  }
}

.validation-list {
  @include type-s;
  position: relative;

  li {
    @include transition;
    margin-bottom: $spacing-s;
    position: relative;
    color: $color-error;

    &.ng-hide-remove {
      @include animation(fadeInDown .2s ease-in);
    }

    &.ng-hide-add-active {
      position: absolute;
      width: 100%;
      @include animation(fadeOutUp .2s ease-in);
    }

    &.warning {
      color: $color-warning-darker;
    }

    p { margin: 0 }
  }
}
