// western latin charset
@font-face {
  font-family: 'museo';
  font-weight: 300;
  src: url('https://static.sumup.com/fonts/western-latin/MuseoSans_300-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/western-latin/MuseoSans_300-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded';
  font-weight: 100;
  src: url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-100-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-100-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded';
  font-weight: 300;
  src: url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded';
  font-weight: 500;
  src: url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.ttf') format('truetype');
}

// polish charset
@font-face {
  font-family: 'museo_pl';
  font-weight: 300;
  src: url('https://static.sumup.com/fonts/polish/MuseoSans_300-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/polish/MuseoSans_300-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded_pl';
  font-weight: 100;
  src: url('https://static.sumup.com/fonts/polish/MuseoSansRounded-100-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/polish/MuseoSansRounded-100-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded_pl';
  font-weight: 300;
  src: url('https://static.sumup.com/fonts/polish/MuseoSansRounded-300-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/polish/MuseoSansRounded-300-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'museoRounded_pl';
  font-weight: 500;
  src: url('https://static.sumup.com/fonts/polish/MuseoSansRounded-500-webfont.woff') format('woff'),
       url('https://static.sumup.com/fonts/polish/MuseoSansRounded-500-webfont.ttf') format('truetype');
}


$font-family: museo, Helvetica, Arial, sans-serif;
$font-family-display: museoRounded, Helvetica, Arial, sans-serif;

body {
  font-weight: $font-weight-light;
  font-size: $font-size-l;
  line-height: $line-height-m;
  color: $color-dark;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
     -moz-font-feature-settings: "kern" 1;
      -ms-font-feature-settings: "kern";
       -o-font-feature-settings: "kern";
          font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
}

// loading correct font files
//
// browsers will only the font-face which is actually used in the css
// so here, we'll define for body, headlines and buttons which font-files to use.
body:not([data-locale="pl-PL"]) {
  font-family: $font-family;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  .btn {
    font-family: $font-family-display;
  }
}

body[data-locale="pl-PL"] {
  font-family: museo_pl, Helvetica, Arial, sans-serif;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  .btn {
    font-family: museoRounded_pl, Helvetica, Arial, sans-serif;
  }
}

// Headlines
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  //line-height: 1.3em; Should come as variable

  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-highlight;
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  color: $color-dark;
}

h1, .h1,
h2, .h2 {
  font-weight: $font-weight-light;
  @include type-xml;

  @include media($medium-screens) {
    @include type-xxxl;
  }

  @include media($huge-screens) {
    @include type-xxxxl;
  }
}

h3, .h3,
h4, .h4 {
  font-weight: $font-weight-regular;
}

h4, .h4 {
  font-weight: $font-weight-light;
  color: $color-brand;
}

// Paragraphs
p {
  @include type-l;
}
