@mixin type-xxxxxl {
  font-size: $font-size-xxxxxl;
  line-height: $line-height-xxl;
  font-family: $font-family-display;
}

@mixin type-xxxxl {
  font-size: $font-size-xxxxl;
  line-height: $line-height-xl;
  font-family: $font-family-display;
}

@mixin type-xxxl {
  font-size: $font-size-xxxl;
  line-height: $line-height-xl;
  font-family: $font-family-display;
}

@mixin type-xxl {
  font-size: $font-size-xxl;
  line-height: $line-height-l;
  font-family: $font-family-display;
}

// font-size: 18px, line-height: 24px
@mixin type-xl {
  font-size: $font-size-xl;
  line-height: $line-height-m;
  font-family: $font-family-display;
}

// font-size: 16px, line-height: 24px
@mixin type-l {
  font-size: $font-size-l;
  line-height: $line-height-m;
}

// font-size: 14px, line-height: 24px
@mixin type-m {
  font-size: $font-size-m;
  line-height: $line-height-m;
}

@mixin type-s {
  font-size: $font-size-s;
  line-height: $line-height-s;
}

@mixin type-xs {
  font-size: $font-size-xs;
  line-height: $line-height-s;
}

/**
 * Circuit UI typography pairings
 */

@mixin text-kilo {
  font-size: $font-size-s;
  line-height: $line-height-m;
}

@mixin text-mega {
  font-size: $font-size-m;
  line-height: $line-height-l;
}

@mixin text-giga {
  font-size: $font-size-l;
  line-height: $line-height-l;
}

// @mixin heading-kilo {
  // font-size: '17px',
  // line-height: $line-height-l
// }

// @mixin heading-mega {
  // font-size: '19px',
  // line-height: $line-height-l
// }

// @mixin heading-giga {
  // font-size: '22px',
  // line-height: $line-height-l
// }

// @mixin heading-tera {
  // font-size: $line-height-l,
  // line-height: '32px'
// }

// @mixin heading-peta {
  // font-size: '28px',
  // line-height: '32px'
// }

// @mixin heading-exa {
  // font-size: '36px',
  // line-height: '44px'
// }

// @mixin heading-zetta {
  // font-size: '42px',
  // line-height: '48px'
// }

