@font-face {
  font-family: 'aktiv-grotesk';
  font-weight: 400;
  src: url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.woff') format('woff'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk';
  font-weight: 700;
  src: url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.woff') format('woff'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk-hebrew';
  font-weight: 400;
  src: url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-400.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-400.woff') format('woff'),
    url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-400.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk-hebrew';
  font-weight: 700;
  src: url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-700.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-700.woff') format('woff'),
    url('https://static.sumup.com/fonts/hebrew/aktiv-grotest-700.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk-arabic';
  font-weight: 400;
  src: url('https://static.sumup.com/fonts/arabic/aktiv-grotest-400.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/arabic/aktiv-grotest-400.woff') format('woff'),
    url('https://static.sumup.com/fonts/arabic/aktiv-grotest-400.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk-arabic';
  font-weight: 700;
  src: url('https://static.sumup.com/fonts/arabic/aktiv-grotest-700.woff2') format('woff2'),
    url('https://static.sumup.com/fonts/arabic/aktiv-grotest-700.woff') format('woff'),
    url('https://static.sumup.com/fonts/arabic/aktiv-grotest-700.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 100;
  src: url('https://static.sumup.com/fonts/cyrillic/Roboto_100-webfont.woff')
    format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_100-webfont.ttf')
    format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 300;
  src: url('https://static.sumup.com/fonts/cyrillic/Roboto_300-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_300-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  font-weight: 500;
  src: url('https://static.sumup.com/fonts/cyrillic/Roboto_500-webfont.woff') format('woff'),
    url('https://static.sumup.com/fonts/cyrillic/Roboto_500-webfont.ttf') format('truetype');
}

body {
  color: $color-dark;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern';
  -o-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  font-size: $font-size-m;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-regular;
  line-height: $line-height-l;
  text-rendering: optimizeLegibility;
}

// loading correct font files
//
// browsers will only the font-face which is actually used in the css
// so here, we'll define for body, headlines and buttons which font-files to use.
body {
  font-family: $font-family;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  .btn,
  em,
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: $font-family-display;
  }
}

body[data-locale='pl-PL'] {
  font-family: $font-family-pl;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  .btn,
  em,
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: $font-family-display-pl;
  }
}

body[data-locale='bg-BG'],
body[data-locale='el-GR'] {
  font-family: $font-family-cyr;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  .btn,
  em,
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: $font-family-display-cyr;
  }
}

// Headlines
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $color-highlight;
    }
  }

  &--inline {
    display: inline-block;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: $color-dark;
}

h1,
.h1,
h2,
.h2 {
  @include type-xxl;
  font-weight: $font-weight-light;

  @include media($medium-screens) {
    @include type-xxxl;
  }

  @include media($huge-screens) {
    @include type-xxxxl;
  }
}

h3,
.h3,
h4,
.h4 {
  font-weight: $font-weight-regular;
}

h4,
.h4 {
  color: $color-brand;
  font-weight: $font-weight-light;
}

// Emphasis
em {
  font-style: normal;
  font-weight: $font-weight-medium;
  // font-family: (font family set in body definitions);
}
