// Colors
$color-brand: #3388ff !default;
$color-brand-lighter: #7fb5ff !default;
$color-brand-darker: #2567d8 !default;
$color-highlight: $color-brand !default;
$color-highlight-lighter: $color-brand-lighter !default;
$color-highlight-darker: $color-brand-darker !default;

// Greys
$color-dark: #212933 !default;
$color-medium: #9da7b1 !default;
$color-light: #d8dde1 !default;
$color-off: #FAFBFC !default;
$color-white: #FFF !default;

// Greys - Version 2.0
$color-darker-v2: $color-dark !default;
$color-medium-v2: $color-medium !default;
$color-light-v2: $color-light !default;

// Success, error, warning
$color-success: #62de76 !default;
$color-success-darker: #49b85b !default;
$color-success-lighter: #97e2a3 !default;
$color-error: #ff7559 !default;
$color-error-darker: #d55a41 !default;
$color-warning: #ffc859 !default;
$color-warning-darker: #d4a546 !default;

// Spacings
$spacing-xxs: 4px !default;
$spacing-xs: 8px !default;
$spacing-s: 12px !default;
$spacing-m: 16px !default;
$spacing-l: 24px !default;
$spacing-xl: 32px !default;
$spacing-xxl: 40px !default;

// Shapes
$border-radius-s: 1px !default;
$border-radius-m: 4px !default;
$border-radius-l: 5px !default;
$border-radius: $border-radius-m !default;

// Typography
$font-size-xxxxxl: 44px !default;
$font-size-xxxxl: 42px !default;
$font-size-xxxl: 36px !default;
$font-size-xxl: 24px !default;
$font-size-xl: 19px !default;
$font-size-l: 17px !default;
$font-size-m: 15px !default;
$font-size-s: 13px !default;
$font-size-xs: 10px !default;

$line-height-xxl: 54px !default;
$line-height-xl: 48px !default;
$line-height-l: 32px !default;
$line-height-m: 24px !default;
$line-height-s: 18px !default;

$font-weight-light: 100 !default;
$font-weight-regular: 300 !default;
$font-weight-medium: 500 !default;

$font-family: aktiv-grotesk, Helvetica, Arial, sans-serif !default;
$font-family-pl: aktiv-grotesk, Helvetica, Arial, sans-serif !default;
$font-family-display: aktiv-grotesk, Helvetica, Arial, sans-serif !default;
$font-family-display-pl: aktiv-grotesk, Helvetica, Arial, sans-serif !default;

$font-family-cyr: roboto, Helvetica, Arial, sans-serif !default;
$font-family-display-cyr: roboto, Helvetica, Arial, sans-serif !default;

// Breakpoints
$max-width: 1000px;

$until-medium-screens: new-breakpoint(max-width 450px 4) !default;
$medium-screens: new-breakpoint(min-width 451px 8) !default;
$until-big-screens: new-breakpoint(max-width 800px 8) !default;
$big-screens: new-breakpoint(min-width 801px 12) !default;
$medium-to-big-screens: new-breakpoint(min-width 451px max-width 800px 8) !default;
$until-huge-screens: new-breakpoint(max-width 1400px 12) !default;
$huge-screens: new-breakpoint(min-width 1401px 12) !default;
