// Colors
$color-brand: #38f !default;
$color-brand-lighter: #3af !default;
$color-brand-darker: #2d69bd !default;
// TODO: Deprecated, remove references.
$color-highlight: $color-brand !default;
$color-highlight-lighter: $color-brand-lighter !default;
$color-highlight-darker: $color-brand-darker !default;

// Greys
$color-dark: #3e5065 !default;
$color-medium: #ced2d9 !default;
$color-light: #f0f2f5 !default;
$color-off: #fafbfc !default;
$color-white: #fff !default;

// Success, error, warning
$color-success: #52CCA7 !default;
$color-success-darker: #338069 !default;
$color-success-lighter: #95E6CD !default;
$color-error: #CC5252 !default;
$color-error-darker: #803332 !default;
$color-warning: #FACC37 !default;
$color-warning-darker: #B38F1B !default;

// Gradients
$gradient-blue: linear-gradient(to bottom, $color-brand, #3362ff);
$gradient-white: linear-gradient(to bottom, $color-white, #f6f6f6);

// Spacings
$spacing-xxs: 3px !default;
$spacing-xs: 6px !default;
$spacing-s: 12px !default;
$spacing-m: 18px !default;
$spacing-l: 24px !default;
$spacing-xl: 30px !default;
$spacing-xxl: 36px !default;

// Shapes
$border-radius-s: 3px !default;
$border-radius-m: 6px !default;
$border-radius-l: 18px !default;
$border-radius: $border-radius-m !default;

// Typography
$font-size-xxxxxl: 44px !default;
$font-size-xxxxl: 40px !default;
$font-size-xxxl: 32px !default;
$font-size-xxl: 24px !default;
$font-size-xl: 18px !default;
$font-size-l: 16px !default;
$font-size-m: 14px !default;
$font-size-s: 12px !default;
$font-size-xs: 10px !default;

$line-height-xxl: 54px !default;
$line-height-xl: 48px !default;
$line-height-l: 30px !default;
$line-height-m: 24px !default;
$line-height-s: 18px !default;

$letter-spacing-s: 0.02em !default;
$letter-spacing-m: 0.04em !default;

$font-weight-regular: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-family: museo, Helvetica, Arial, sans-serif !default;
$font-family-pl: museo_pl, Helvetica, Arial, sans-serif !default;
// TODO: Deprecated, replace references.
$font-family-display: museo, Helvetica, Arial, sans-serif !default;
$font-family-display-pl: museo_pl, Helvetica, Arial, sans-serif !default;

// Breakpoints
$max-width: 1060px !default;

$breakpoints: (
  small: 600px,
  medium: 800px,
  large: 1400px
);

// Grids

// Default/mobile grid
$neat-grid: (
  columns: 6,
  gutter: 20px,
  direction: ltr,
);

// Desktop grid
$desktop-grid: (
  columns: 12,
  gutter: 30px,
  direction: ltr,
  media: 601px,
);
