// Colors
$color-highlight: #52CCA7;
$color-brand: #5C8BCC;

// Greys
$color-dark: #323E4D;
$color-medium: #CED2D9;
$color-light: #F0F2F5;
$color-off: #FAFBFC;
$color-white: #FFF;

// Success, error, warning
$color-success: #52CCA7;
$color-success-darker: #338069;
$color-success-lighter: #95E6CD;
$color-error: #CC5252;
$color-error-darker: #803332;
$color-warning: #F0CC60;
$color-warning-darker: #B39847;

// Paddings
$spacing-xxs: 3px;
$spacing-xs: 6px;
$spacing-s: 12px;
$spacing-m: 18px;
$spacing-l: 24px;
$spacing-xl: 30px;
$spacing-xxl: 36px;

// Lalala
$border-radius: 3px;

// Typography
$font-size-xxl: 32px;
$font-size-xl: 18px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 10px;

$line-height-xl: 48px;
$line-height-l: 30px;
$line-height-m: 24px;
$line-height-s: 18px;

$font-weight-light: 300;
$font-weight-regular: 500;
