$pad: 14px;

.grid--colored {
	font-size: $font-size-xs;
  background-color: white;
  margin-bottom: 1px;

	[class*='col-'] {
		background-color: $color-medium;
		border: $pad solid $color-light;
		text-align: center;
	}
}

.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  float: left;
  padding: $pad;
}
.col-1 {
  @extend .col;
	width: 100%;
}
.col-2-3 {
  @extend .col;
  width: 66.66%;
}
.col-1-3 {
  @extend .col;
  width: 33.33%;
}
.col-1-2 {
  @extend .col;
  width: 50%;
}
.col-1-4 {
  @extend .col;
  width: 25%;
}
.col-1-6 {
  @extend .col;
  width: 16.66%;
}
.col-1-12 {
  @extend .col;
  width: 8.33%;
}


