@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
    position: relative;
  }

  &.checkmark li {
    padding-left: 1.5em;

    &::before {
      color: $color-brand;
      content: '\2714';
      left: 0;
      margin-top: -0.7em;
      position: absolute;
      text-shadow: 0 1px 0 rgba(#000, 0.3);
      top: 0.65em;
    }
  }

  &.dash li {
    padding-left: 1.2em;

    &::before {
      color: $color-brand;
      content: '–';
      left: 0;
      position: absolute;
    }
  }
}

@mixin validation-list($color) {
  position: relative;

  @include rounded-left-border($spacing-m, $color);

  @media ($breakTabletLandscape) {
    @include rounded-left-border($spacing-l, $color);
  }
}
