$color-shadow: #002866;

@mixin button-shadow() {
  box-shadow: 0 10px 18px 0 rgba($color-shadow, 0.4);
}

@mixin button-shadow-raised() {
  box-shadow: 0 8px 12px 0 rgba($color-shadow, 0.4);
}

@mixin button-shadow-pressed() {
  box-shadow: 0 3px 3px 0 rgba($color-shadow, 0.4);
}

$color-shadow-cl: #3e201d;

@mixin button-shadow-cl() {
  box-shadow: 0 10px 18px 0 rgba($color-shadow-cl, 0.35);
}

@mixin button-shadow-raised-cl() {
  box-shadow: 0 8px 12px 0 rgba($color-shadow-cl, 0.35);
}

@mixin button-shadow-pressed-cl() {
  box-shadow: 0 3px 3px 0 rgba($color-shadow-cl, 0.35);
}

@mixin drop-shadow() {
  $color-drop-shadow-light: #617695;
  $color-drop-shadow-dark: #00143c;

  box-shadow: 0 2px 6px rgba($color-drop-shadow-dark, 0.1),
    0 10px 20px rgba($color-drop-shadow-dark, 0.05),
    0 20px 40px 0 rgba($color-drop-shadow-light, 0.2);
}

// TODO: Where is the below used?
@mixin fancy-shadow($shadow-color: rgba($color-dark, 0.15), $size: 12px, $spread: 0, $position: bottom) {
  position: relative;
  // z-index: 1;

  @if $position == top {
    overflow: hidden;
  }

  &::before {
    @if $position == bottom {
      bottom: 0;
      z-index: -1;
    } @else {
      top: -20px;
      z-index: 1;
    }

    border-radius: 86% / 20px;
    box-shadow: 0 0 $size $spread $shadow-color;
    content: '';
    height: 20px;
    left: 7%;
    position: absolute;
    width: 86%;
  }
}
