$color-shadow: #617695;

@mixin button-shadow() {
  box-shadow: 0 10px 30px rgba($color-shadow, 0.3);
}

@mixin button-shadow-raised() {
  box-shadow: 0 15px 35px rgba($color-shadow, 0.3);
}

@mixin drop-shadow() {
  box-shadow: 0 20px 50px 0 rgba($color-shadow, .2);
}

// TODO: Where is the below used?
@mixin fancy-shadow($shadow-color: rgba($color-dark, .15), $size: 12px, $spread: 0px, $position: bottom) {
  position: relative;
  // z-index: 1;

  @if $position == top {
    overflow: hidden;
  }

  &::before {
    @if $position == bottom {
      bottom: 0;
      z-index: -1;
    } @else {
      top: -20px;
      z-index: 1;
    }
    content: '';
    position: absolute;
    box-shadow: 0 0 $size $spread $shadow-color;
    height: 20px;
    width: 86%;
    left: 7%;
    border-radius: 86% / 20px;
  }
}
