@mixin drop-shadow() {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08), 0px 2px 12px 0px rgba(0,0,0,0.10);
}

@mixin fancy-shadow($shadow-color: rgba($color-dark, .15), $size: 12px, $spread: 0px, $position: bottom) {
  position: relative;
  // z-index: 1;

  @if $position == top {
    overflow: hidden;
  }

  &::before {
    @if $position == bottom {
      bottom: 0;
      z-index: -1;
    } @else {
      top: -20px;
      z-index: 1;
    }
    content: '';
    position: absolute;
    box-shadow: 0 0 $size $spread $shadow-color;
    height: 20px;
    width: 86%;
    left: 7%;
    border-radius: 86% / 20px;
  }
}

@mixin button-shadow() {
  box-shadow: 0 20px 40px rgba(97, 118, 149, 0.3);
}

@mixin button-shadow-raised() {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12), 0px 7px 10px 0px rgba(0,0,0,0.20);
}
